$max-width: 800px;

.group { @include pie-clearfix; }

body {
  -webkit-text-size-adjust: none;
  position: relative;
  padding-bottom: 40px;

  > header .inner,
  > nav,
  > footer {
    @extend .group;
  }
}
