$max-width: 800px;

.group { @include pie-clearfix; }

body {
  -webkit-text-size-adjust: none;
  position: relative;
  padding-bottom: 40px;

  > header .inner,
  > nav,
  > footer {
    @extend .group;
  }
}

.separator {
  content: "\2022 ";
  padding: 0 .4em 0 .2em;
  display: inline-block;
}

.pagination {
  font-size: .95em;
  max-width: $max-width;
  margin: 1em auto 0 auto;
  overflow: hidden;

  a {
    text-decoration: none;
    background: #F2F2F2;
    display: inline-block;
    padding: .4em .8em;

    &.prev {
      float: left;
    }

    &.next {
      float: right;
    }

    &[href*=archive] {
      &:before, &:after {
        content: '\2014';
        padding: 0 .3em;
      }
    }
  }
}

