$blockquote: $type-border !default;
$sans: "ff-tisa-web-pro",serif !default;
$serif: "ff-tisa-web-pro",serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
$heading-font-family: "freight-sans-pro","Myriad Pro","Lucida Grande" !default;
$header-title-font-family: $heading-font-family !default;
$header-subtitle-font-family: $heading-font-family !default;

// Fonts
.heading {
  font-family: $heading-font-family;

  a:link,
  a:visited {
    text-decoration: none;
  }

}
.sans { font-family: $sans; }
.serif { font-family: $serif; }
.mono { font-family: $mono; }

body > header h1 {
  font-size: 2.2em;
  @extend .heading;
  font-family: $header-title-font-family;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 0.6667em;
}
body > header h2 {
  font-family: $header-subtitle-font-family;
}

body {
  line-height: 1.5em;
  color: $text-color;
  @extend .serif;
}
h1 {
  font-size: 2.2em;
  line-height: 1.2em;
}

@media only screen and (min-width: 992px) {
  body { font-size: 1.15em; }
  h1 { font-size: 2.6em; line-height: 1.2em; }
}

#{headings()}{
  @extend .heading;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 1em;
  font-weight: bold;
}
h2, section h1 {
  font-size: 1.5em;
}
h3, section h2 {
  font-size: 1.3em;
}
h4, section h3, section section h2, section section section h1 {
  font-size: 1em;
}
h5, section h4, section section h3 {
  font-size: .9em;
}
h6, section h5, section section h4, section section section h3 {
  font-size: .8em;
}

p, article blockquote, ul, ol { margin-bottom: 1.5em; }

ul { list-style-type: disc;
  ul { list-style-type: circle; margin-bottom: 0px;
    ul { list-style-type: square; margin-bottom: 0px; }}}

ol { list-style-type: decimal;
  ol { list-style-type: lower-alpha; margin-bottom: 0px;
    ol { list-style-type: lower-roman; margin-bottom: 0px; }}}

ul, ol { &, ul, ol { margin-left: 1.3em; }}
ul, ol { ul, ol { margin-bottom: 0em; }}

strong { font-weight: bold; }

em { font-style: italic; }

sup, sub { font-size: 0.75em; position: relative;  display: inline-block; padding: 0 .2em; line-height: .8em;}
sup { top: -.5em; }
sub { bottom: -.5em; }

a[rev='footnote']{ font-size: .75em; padding: 0 .3em; line-height: 1; }

q { font-style: italic;
  &:before { content: "\201C"; }
  &:after { content: "\201D"; }
}

em, dfn { font-style: italic; }

strong, dfn { font-weight: bold; }

del, s { text-decoration: line-through; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }

pre, code, tt { @extend .mono; }

hr { margin-bottom: 0.2em; }

small { font-size: .8em; }

big { font-size: 1.2em; }


/* @extend this to force long lines of continuous text to wrap */
.force-wrap {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

