---
layout: default.html
single: true
---

<section class="post">

  <article class="hentry" role="article">
    {% include article.html %}
    <footer>
      <p class="meta">
        {% include post/author.html %}
        {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
        {% include post/categories.html %}
      </p>
    </footer>
  </article>

  {% if site.disqus_short_name and page.comments == true %}
    {% include comments.html %}
  {% endif %}

</section>
