---
layout: page
title: Speaking
header: Speaking
---

<p>I often speak in public; in communities, at conferences and in companies. Mostly I talk about the web platform, but you'll also hear me talk about things like architecture, minimalism and design, simply because I'm curious about how we, human beings, interpret and interact with the world.</p>

<p>If you want me to speak at your event, please feel free to <a href="/contact/">contact me</a>, and let's see if it makes sense.</p>
  
{% img "" /images/me_full_frontal_web.jpg "Photo credits: <a href='http://www.flickr.com/photos/drewm/10757628855'>Drew McLellan</a>, Full Frontal 2013, Brigthon" %}

<section class="speaking">
  
  {% assign curDate = site.time | date: '%s' %}

  <h2 class="block">Future talks</h2>
    <ul class="list">
    {% for talk in site.data.speaking | sort: 'date' %}
      {% assign postStartDate = talk.date | date: '%s' %}
      {% if postStartDate >= curDate %}
      <li>
        <h4><a href="{{ talk.url }}">{{ talk.event }}</a></h4>
        <date>{{ talk.date | date: "%B %Y" }}</date>
        <h4>{{ talk.title}}</h4>
        <p>{{ talk.place}}</p>
      </li>
      {% endif %}
    {% endfor %}
  </ul>


  <h2 class="block">Previous talks</h2>
    <ul class="list">
    {% for talk in site.data.speaking %}
      {% assign postStartDate = talk.date | date: '%s' %}
      {% if postStartDate <= curDate %}
      <li>
        <h4><a href="{{ talk.url }}">{{ talk.event }}</a></h4>
        <date>{{ talk.date | date: "%B %Y" }}</date>
        <h4>{{ talk.title}}</h4>
        <p>{{ talk.place}}</p>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</section>
