.blog-archives {
  width: 95%;
  max-width: $max-width;
  margin: 0 auto;
  margin-top: 40px;

  article {
    padding: 1em 0 1em;
    position: relative;
    &:last-child {
      background: none;
    }
    footer {
      padding: 0;
      margin: 0;
    }
  }

  h2 {
    color: $text-color;
    margin-bottom: .3em;

    font-size: 1.5em;
    a {
      @include hover-link;
      color: inherit;
      font-weight: normal;
      display: inline-block;
    }
  }

  a.category,
  time {
    color: $text-color-light;
  }

  time {
    font-size: .9em;
    line-height: 1.2em;

    .month,
    .day {
      display: inline-block;
    }

    .month {
      text-transform: uppercase;
    }
  }

  p {
    margin-bottom: 1em;
  }

}
