.post {

  article {
    padding-top: 1em;
    font-family: "ff-tisa-web-pro",serif;
    font-weight: 400;
    font-size: 22px;

    a { @extend .force-wrap; }

    p, h2, h3, blockquote, ul {
      width: 95%;
    }

    > header {
      position: relative;
      padding-top: 2em;
      margin-bottom: 1em;
      padding-bottom: 10px;
      overflow: hidden;

      max-width: $max-width;
      margin-left: auto;
      margin-right: auto;
      border-bottom: 1px solid #CCC;

      width: 95%;

      p {
        font-size: .9em;
        color: $text-color-light;
        margin: 0;
        width: auto;
      }

      .meta {
        float: left;

        time {
          font-size: 14px;
          text-transform: uppercase;
        }
      }

      .sharing {
        float: right;
      }
    }

    > footer {
      margin-top: 2em;
      width: 100%;
      padding: 10px 0;
      background: #F5F5F5;
      margin-bottom: 1em;

      border-top: 1px solid #CCC;
      border-bottom: 1px solid #CCC;

      p {
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto;
      }

      .byline + time:before, time +time:before, .comments:before, .byline ~ .categories:before {
        @extend .separator;
      }
    }

  }

}


@media screen and (max-width: 768px) {

  article {

    > header {
      padding-top: 0;
    }


  }

}
