body > footer {

  border-top: 1px solid #ddd;
  padding: 30px;
  background-color: #f5f5f5;

  font-size: .8em;
  color: $footer-color;
  position: relative;

  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  p:last-child { margin-bottom: 0; }
}
