nav {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 0 10px 0;


  clip: rect(0 0 0 0);
  overflow: hidden;
  zoom: 1;

  ul {
    text-align: left;
    margin: 0 auto;
    padding: 0;
    max-width: 900px;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 10px;
      width: auto;
      margin-left: 30px;
      margin-bottom: 18px;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.2rem;      
      
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
            
      a:link, a:visited {
        color: #fff;
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
      }
      
      a:visited,
      a {
        color: #fff;
      }
      
      a:hover {
        color: #AAA;
        font-weight: 400;
        font-size: 1.2rem;
        text-decoration: none;
      }
    }
  }
}

