.page {

  margin: 40px auto 100px auto;

  > header {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (max-width: 650px) {
    margin-bottom: 40px;
  }
  

}

