section {

  h1, h2, h3 {
         // Non standard for webkit
         word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
  }

  h1 {
    font-weight: bold;
    font-size: 2em;
    margin: 0 0 20px 0;

    a {
      @include transition(color .3s);
      text-decoration: none;

      &:link {
        color: #333332;
      }

      &:visited {
        color: #333332;
      }

      &:focus {
        color: #0181eb;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  figure {
    text-align: center;

    &.codepen {

      iframe {
        max-width: 800px;
        height: auto !important;
        min-height: 0;
        border: 1px solid #ccc !important;
      }
    }

    &.slides {

      iframe {
        width: 1024px;
        height: 730px !important;
      }
    }

    img {
      width: 100%;
      max-width: 1000px;
      height: auto !important;
      -ms-interpolation-mode: bicubic;
    }

    iframe {
      display: inline-block !important;
      max-width: 1000px;
      width: 100%;

      &:not(.twitter-tweet) {
        min-height: 500px;      
      }      
    
    }

    figcaption {
      font-size: 14px;
    }
  }

  ul {
    margin-bottom: 30px;

    li {
      margin-left: 30px;
      margin-bottom: 18px;
    }
  }

  p, 
  h2, 
  h3, 
  blockquote, 
  ul,
  > section {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }

  p, li, blockquote {
    font-size: 18px;
    color: #4A4235;
  }

  p {
    margin: 30px auto;
    margin-bottom: 1.5em;
  }

  a:link {
    color: #1863A1;
  }

  a:visited {
    color: #751590;
  }

  blockquote {
    font-style: italic;
    position: relative;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-left: 1em;
    border-left: 6px solid rgba($text-color-light, .5);
    -webkit-hyphens: auto;
    hyphens: auto;
    -moz-hyphens: auto;

    &.big {
      p {
        margin: 30px 0 30px 0;
        font-size: 30px;
        line-height: 46px;
      }
    }

  }

  h2 {
    line-height: 1.45;
    margin-bottom: 0;
    margin-top: 2em;
  }

  header,
  footer,
  p {
    width: 95%;
  }

  header,
  footer {
    margin: 0 auto;
  }

  .update-box {
    max-width: $max-width;
    background-color: rgba(255, 251, 198, 0.5);
    border: 1px solid #F7ED64;
    margin: 10px auto;
    padding: 10px;
    font-size: 13px;

    ul {
      margin-top: 20px;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }


}

@media only screen and (max-width: 768px) {

  section {

    h1 {
      font-size: 1.7rem;
    }

    h2, h3 {
      font-size: 1.4rem;
    }

    p, li, blockquote {
      font-size: 1rem;
    }

    blockquote {
      &.big {

        p {
          font-size: 1.4rem;
          line-height: 1.6rem;
        }

      }
    }

  }

}
