section {

  h1 {
    font-weight: bold;
    font-size: 2em;
    margin: 0;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  figure {
    text-align: center;

    img {
      width: 100%;
      max-width: 1000px;
      height: auto !important;
      -ms-interpolation-mode: bicubic;
    }

    iframe {
      width: 100%;
      max-width: 1000px;
      height: auto !important;
      min-height: 500px;
      margin-bottom: 30px;
    }

    figcaption {
      font-size: 14px;
    }
  }

  ul {
    margin-bottom: 30px;

    li {
      margin-left: 30px;
      margin-bottom: 18px;
    }
  }

  p, h2, h3, blockquote, ul {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }

  p, li, blockquote {
    font-family: "droid-sans",sans-serif;
    font-size: 18px;
    color: #4A4235;
  }

  p {
    margin: 30px auto;
    margin-bottom: 1.5em;
  }

  blockquote {
    font-style: italic;
    position: relative;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-left: 1em;
    border-left: 6px solid rgba($text-color-light, .5);
    -webkit-hyphens: auto;
    hyphens: auto;
    -moz-hyphens: auto;

    &.big {
      p {
        margin: 30px 0 30px 0;
        font-size: 30px;
        line-height: 46px;
      }
    }

  }

  h2 {
    line-height: 1.45;
  }

  header,
  footer,
  p {
    width: 95%;
  }

  header,
  footer {
    margin: 0 auto;
  }


}
