<section class="comments" aria-live="polite">
  <div id="disqus_thread"></div>
  <script>
    var disqus_shortname = '{{ site.disqus_short_name }}';
    var disqus_url = 'http://kenneth.io/#{permalink}/';
    var disqus_title = '#{safeTitle}';

    {% if page.comments == true %}
      {% comment %} `page.comments` can be only be set to true on pages/posts, so we embed the comments here. {% endcomment %}
      var disqus_script = 'embed.js';
    {% else %}
      {% comment %} As `page.comments` is empty, we must be on the index page. {% endcomment %}
      var disqus_script = 'count.js';
    {% endif %}
  </script>
</section>
