<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">

  {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
  <link rel="canonical" href="{{ canonical }}">

  {% stylesheet app %}

  <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
  <link rel="canonical" href="http://kenneth.io/">

  <meta content="{{ site.title }}" property="og:site_name">

{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}

{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
{% endif %}

{% if page.title %}
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.title }}">
{% else %}
  <meta property="og:type" content="website" />
{% endif %}


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@auchenberg">
<meta name="twitter:creator" content="@auchenberg">

{% if page.author.url %}
  <meta property="article:author" content="{{ page.author.url }}" />
  <link rel="author" href="{{ page.author.url }}" />
{% elsif site.owner_link %}
  <meta property="article:author" content="{{ site.owner_link }}" />
  <link rel="author" href="{{ site.owner_link }}" />
{% endif %}

{% if page.og_image %}
  <meta property="og:image" content="{{ site.url }}{{ page.og_image | asset_path }}">
  <meta name="twitter:image" content="{{ site.url }}{{ page.og_image | asset_path }}">
{% endif %}

  <script type="text/javascript" src="//use.typekit.net/zbi3gmu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,600,300">

</head>
