@import "partials/header";
@import "partials/navigation";
@import "partials/blog";
@import "partials/syntax";
@import "partials/archive";
@import "partials/footer";
@import "partials/page";
@import "partials/section";
